<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="/lib/main.css">
</head>
<body>
    <div class="headerbar">
        <div class="headerbar-content">
            <input type="checkbox" id="check_box" />
            <label for="check_box">
              <span></span>
              <span></span>
              <span></span>
            </label>
            <div id="side_menu">
                <p>서울시문화지도</p>
              <ul>
                <li><a href="#">서비스소개</a></li>
                <li><a href='/pos_list/1'>문화공간</a></li>
                <li><a href="/event_list/1">문화행사</a></li>
                <li><a href='/resv_list/1'>행사예약</a></li>
              </ul>
            </div>
        </div>
        <div class="headerbar-content">
            <a>
                <h1>서울문화지도</h1>
            </a>                
        </div>
        <div class="headerbar-content">
            <a href="/">
                <img src="../img/top_home.png">
            </a>
        </div>
    </div>
    <!-- <div class="list-search">
        <div class="list-search-box">
            <select name="select">
                <option value="">선택</option>
                <option value="공연장">공연장</option>
                <option value="공원">공원</option>
                <option value="기타">기타</option>
            </select>
            <input type="text" placeholder="검색어(시설명,주소,연락처)를 입력해주세요." size="40">
            <input type="submit">
        </div>
    </div> -->
    <div class="list">
        <% for(let i=0 ; i < cul_event.length; i++){ %> 
            <div class="list-content">
                <div class="list-content-img">
                <a href="/event_detail/<%=cul_event[i].IDX%>">
                    <img src="<%-cul_event[i].MAIN_IMG%>"">
                </a>
                </div>
                <div class="list-content-text">
                    <div>
                        <span class="box3"><%=cul_event[i].CODE%></span>
                        <span class="box4"><%=cul_event[i].GUNAME%></span>
                    </div>
                    <p>
                        <strong><%=cul_event[i].NAME%></strong>
                        <br>날짜 : <%=cul_event[i].DATE%>
                        <br>장소 : <%=cul_event[i].PLACE%>
                        <br>대상 : <%=cul_event[i].USE_WHO%>
                        <br>이용요금 : <%=cul_event[i].USE_FEE%>
                    </p>
                    <div>
                        <a href="<%-cul_event[i].HOMEURL%>">홈페이지</a>
                    </div>
                </div>
            </div>
        <%}%> 
    </div>
    <div class="list-page">
        <ul class="pager">
        <%
        var curSet = pasing.curSet
        var endPage = pasing.endPage
        var startPage = pasing.startPage
        var totalSet = pasing.totalSet
        var totalPage = pasing.totalPage
        var page_list_size = pasing.page_list_size
        var page_size = pasing.page_size
        var curPage = pasing.curPage
        %>
        <% if(curSet > 1) { %>
         
            <li value=(startPage -1) class="previous">
                <a href='/event_list/<%= ( startPage - 1) %>'> < </a>
            </li> <% } %>
    
        <% for(var i = startPage; i <= endPage; i++){
            if(i > totalPage) { break; }

            if(i == curPage){ %>
            <li value=<%= i %> class='' >
                <a href='/event_list/<%= i %>'> <%= i %></a>
            </li>

            <% } else { %>
                <li value=<%= i %> class='active' >
                    <a href='/event_list/<%= i %>'> <%= i %></a> 
                </li>     
            <%  } %>  
        <% }%>        
                    
            <% if(curSet < totalSet){ %>
                <li value=( endPage + 1) class="next">
                    <a href='/event_list/<%= ( endPage + 1) %>'> > </a>
                </li>
            <%  } %>
        </ul>
    </div>
    <div class="footer">
        <a>서비스소개</a>
        <a>이용약관</a>
        <a>개인정보처리방침</a>
        <a>이용안내</a>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</html>