<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="lib/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<form action="/main">
    <div class="headerbar">
        <div class="headerbar-content">
            <a href="./ham-menu.html">
                <img src="img/top_bars.png">
            </a>
        </div>
        <div class="headerbar-content">
            <a>
                <h3>서울문화지도</h3>
            </a>                
        </div>
        <div class="headerbar-content">
            <a href="/">
                <img src="img/top_home.png">
            </a>
        </div>
        <div class="headerbar-content">
            <a href="./">
                <img src="img/top_user.png">
            </a>
        </div>
    </div>
    <div class="body-top-image">
        <img src="img/main-body-top-image.png">
    </div>
    <div class="body-infor">
        <div class="body-infor-name">
            <h2>서울시 문화공간</h2>
        </div>
        <div class="body-infor-search">
            <input type="text" placeholder="검색어(시설명,주소,연락처)를 입력해주세요." size="40px">
            <button type="submit">검색</button>
        </div>
        <div class="body-infor-menubar">
            <div class="body-infor-menu">
                <a href="/pos_type_list/<%-cul_pos[2].CODE%>">공연장</a>
            </div>
            <div class="body-infor-menu">
                <a href="/pos_type_list/<%-cul_pos[3].CODE%>">도서관</a>
            </div>
            <div class="body-infor-menu">
                <a href="/pos_type_list/<%-cul_pos[4].CODE%>">문화예술회관</a>
            </div>
            <div class="body-infor-menu">
                <a href="/pos_type_list/<%-cul_pos[13].CODE%>">문화원</a>
            </div>
            <div class="body-infor-menu">
                <a href="/pos_type_list/<%-cul_pos[5].CODE%>">미술관</a>
            </div>
        </div>
        <div class="body-infor-outbox">
            <div class="body-infor-inbox">
                <div class="box-img">
                    <a href="/pos_detail/<%=cul_pos[0].IDX%>">
                        <img src="<%-cul_pos[0].MAIN_IMG%>">
                    </a>
                </div>
                <div class="box-icon">
                    <span><%=cul_pos[0].CODE%></span>
                    <span><%=cul_pos[0].ENTERFREE%></span>
                </div>
                <div class="box-name">
                    <p><strong><%-cul_pos[0].NAME%></strong></p>
                </div>
                <div class="box-content">
                    <p>
                        <strong>주소 : </strong><%=cul_pos[0].ADDRESS%><br>
                        <strong>전화번호 : </strong><%=cul_pos[0].CONTACT%><br>
                    </p>
                </div>
            </div>
            <div class="body-infor-inbox">
                <div class="box-img">
                    <a href="/pos_detail/<%=cul_pos[1].IDX%>">
                        <img src="<%-cul_pos[1].MAIN_IMG%>">
                    </a>
                </div>
                <div class="box-icon">
                    <span><%=cul_pos[1].CODE%></span>
                    <span><%=cul_pos[1].ENTERFREE%></span>
                </div>
                <div class="box-name">
                    <p><strong><%-cul_pos[1].NAME%></strong></p>
                </div>
                <div class="box-content">
                    <p>
                        <strong>주소 : </strong><%=cul_pos[1].ADDRESS%><br>
                        <strong>전화번호 : </strong><%=cul_pos[1].CONTACT%><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="body-infor-outbox">
            <div class="body-infor-inbox">
                <div class="box-img">
                    <a href="/pos_detail/<%=cul_pos[2].IDX%>">
                        <img src="<%-cul_pos[2].MAIN_IMG%>">
                    </a>
                </div>
                <div class="box-icon">
                    <span><%=cul_pos[2].CODE%></span>
                    <span><%=cul_pos[2].ENTERFREE%></span>
                </div>
                <div class="box-name">
                    <p><strong><%-cul_pos[2].NAME%></strong></p>
                </div>
                <div class="box-content">
                    <p>
                        <strong>주소 : </strong><%=cul_pos[2].ADDRESS%><br>
                        <strong>전화번호 : </strong><%=cul_pos[2].CONTACT%><br>
                    </p>
                </div>
            </div>
            <div class="body-infor-inbox">
                <div class="box-img">
                    <a href="/pos_detail/<%=cul_pos[3].IDX%>">
                        <img src="<%-cul_pos[3].MAIN_IMG%>">
                    </a>
                </div>
                <div class="box-icon">
                    <span><%=cul_pos[3].CODE%></span>
                    <span><%=cul_pos[3].ENTERFREE%></span>
                </div>
                <div class="box-name">
                    <p><strong><%-cul_pos[3].NAME%></strong></p>
                </div>
                <div class="box-content">
                    <p>
                        <strong>주소 : </strong><%=cul_pos[3].ADDRESS%><br>
                        <strong>전화번호 : </strong><%=cul_pos[3].CONTACT%><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="body-infor-button">
            <a href='/pos_list/1'">더보기</a>
        </div>
    </div>
    <div class="body-linkbox">
        <div class="body-linkbox-name">
            <h3>서울시 문화행사</h3>
        </div>
        <div class="body-linkbox-in">
            <div class="box1">
                <a href="/event_type_list/<%-cul_event[3].CODE%>">국악</a>
            </div>
            <div class="box1">
                <a href="/event_type_list/<%-cul_event[1].CODE%>">무용</a>
            </div>
            <div class="box1">
                <a href="/event_type_list/<%=cul_event[11].CODE%>">문화교양<br>강좌</a>
            </div>
            <div class="box1">
                <a href="/event_type_list/<%-cul_event[6].CODE%>">뮤지컬<br>오페라</a>
            </div>
        </div>
        <div class="body-linkbox-in">
            <div class="box1">
                <a href="/event_type_list/<%-cul_event[10].CODE%>">연극</a>
            </div>
            <div class="box1">
                <a href="/event_type_list/<%-cul_event[85].CODE%>">영화</a>
            </div>
            <div class="box1">
                <a href="/event_type_list/<%-cul_event[7].CODE%>">전시/미술</a>
            </div>
            <div class="box1">
                <a href="/event_type_list/<%-cul_event[75].CODE%>">축제<br>기타</a>
            </div>
        </div>
        <div class="body-linkbox-in">
            <div class="box1">
                <a href="/event_type_list/<%-cul_event[115].CODE%>">축제<br>문화/예술</a>
            </div>
            <div class="box1">
                <a href="/event_type_list/<%-cul_event[8].CODE%>">콘서트</a>
            </div>
            <div class="box1">
                <a href="/event_type_list/<%-cul_event[2].CODE%>">클래식</a>
            </div>
            <div class="box1">
                <a href="/event_type_list/<%-cul_event[0].CODE%>">기타</a>
            </div>
        </div>
    </div>
    <div class="body-event-ing">
        <div class="body-event-ing-head">
            <div class="box2">
                <p><strong>현재 진행중 행사</strong></p>
            </div>
            <div class="box2">
                <a href="/event_list/1">문화공간 더보기+</a>
            </div>
        </div>
        <div class="body-event-ing-body">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a href="/event_detail/<%=cul_event[0].IDX%>">
                        <img src="<%=cul_event[0].MAIN_IMG%>" class="d-block w-100">                        
                    </a>
                    <p><strong><%-cul_event[0].NAME%></strong></p>
                    <p><strong>날짜 : </strong><%=cul_event[0].DATE%></p>
                    <p><strong>장소 : </strong><%=cul_event[0].PLACE%></p>
                    <p><strong>대상 : </strong><%=cul_event[0].USE_WHO%></p>
                  </div>
                  <div class="carousel-item">
                    <a href="/event_detail/<%=cul_event[1].IDX%>">
                        <img src="<%=cul_event[1].MAIN_IMG%>" class="d-block w-100">
                    </a>
                    <p><strong><%-cul_event[1].NAME%></strong></p>
                    <p><strong>날짜 : </strong><%=cul_event[1].DATE%></p>
                    <p><strong>장소 : </strong><%=cul_event[1].PLACE%></p>
                    <p><strong>대상 : </strong><%=cul_event[1].USE_WHO%></p>
                  </div>
                  <div class="carousel-item">
                    <a href="/event_detail/<%=cul_event[2].IDX%>">
                        <img src="<%=cul_event[2].MAIN_IMG%>" class="d-block w-100">
                    </a>
                    <p><strong><%-cul_event[2].NAME%></strong></p>
                    <p><strong>날짜 : </strong><%=cul_event[2].DATE%></p>
                    <p><strong>장소 : </strong><%=cul_event[2].PLACE%></p>
                    <p><strong>대상 : </strong><%=cul_event[2].USE_WHO%></p>
                  </div>
                  <div class="carousel-item">
                    <a href="/event_detail/<%=cul_event[3].IDX%>">
                        <img src="<%=cul_event[3].MAIN_IMG%>" class="d-block w-100">
                    </a>
                    <p><strong><%-cul_event[3].NAME%></strong></p>
                    <p><strong>날짜 : </strong><%=cul_event[3].DATE%></p>
                    <p><strong>장소 : </strong><%=cul_event[3].PLACE%></p>
                    <p><strong>대상 : </strong><%=cul_event[3].USE_WHO%></p>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="body-event-imminent">
        <div class="body-event-imminent-head">
            <div class="box2">
                <p><strong>현재 진행중 행사</strong></p>
            </div>
            <div class="box2">
                <a href="./event-list.html">문화공간 더보기+</a>
            </div>
        </div>
        <div class="body-event-imminent-body">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="<%=cul_event[0].MAIN_IMG%>" class="d-block w-100">
                        <p><strong><%-cul_event[0].NAME%></strong></p>
                        <p><strong>날짜 : </strong><%=cul_event[0].DATE%></p>
                        <p><strong>장소 : </strong><%=cul_event[0].PLACE%></p>
                        <p><strong>대상 : </strong><%=cul_event[0].USE_WHO%></p>
                      </div>
                      <div class="carousel-item">
                        <img src="<%=cul_event[1].MAIN_IMG%>" class="d-block w-100">
                        <p><strong><%-cul_event[1].NAME%></strong></p>
                        <p><strong>날짜 : </strong><%=cul_event[1].DATE%></p>
                        <p><strong>장소 : </strong><%=cul_event[1].PLACE%></p>
                        <p><strong>대상 : </strong><%=cul_event[1].USE_WHO%></p>
                      </div>
                      <div class="carousel-item">
                        <img src="<%=cul_event[2].MAIN_IMG%>" class="d-block w-100">
                        <p><strong><%-cul_event[2].NAME%></strong></p>
                        <p><strong>날짜 : </strong><%=cul_event[2].DATE%></p>
                        <p><strong>장소 : </strong><%=cul_event[2].PLACE%></p>
                        <p><strong>대상 : </strong><%=cul_event[2].USE_WHO%></p>
                      </div>
                      <div class="carousel-item">
                        <img src="<%=cul_event[3].MAIN_IMG%>" class="d-block w-100">
                        <p><strong><%-cul_event[3].NAME%></strong></p>
                        <p><strong>날짜 : </strong><%=cul_event[3].DATE%></p>
                        <p><strong>장소 : </strong><%=cul_event[3].PLACE%></p>
                        <p><strong>대상 : </strong><%=cul_event[3].USE_WHO%></p>
                      </div>
                </div>
              </div>
        </div>
    </div>
    <div class="body-reservation">
        <div class="body-reservation-head">
            <h3>문화체험 예약</h3>
        </div>
        <div class="body-reservation-body">
            <div class="body-linkbox-in">
                <div class="box1">
                    <a>서울</a>
                </div>
                <div class="box1">
                    <a>수도권</a>
                </div>
            </div>
            <div class="body-linkbox-in">
                <div class="box1">
                    <a>부산</a>
                </div>
                <div class="box1">
                    <a>대구</a>
                </div>
                <div class="box1">
                    <a>대전</a>
                </div>
                <div class="box1">
                    <a>광주</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <a>서비스소개</a>
        <a>이용약관</a>
        <a>개인정보처리방침</a>
        <a>이용안내</a>
    </div>
</form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</html>
